* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 25px;
}

p{
    font-size: 15px;
    text-align: right;
    display: block;
    color: red;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgb(78, 78, 189), rgb(63, 179, 63));
}

form {
    border: 1px solid white;
    padding: 10px;
    width: 500px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form-text {
    border-bottom: 2px solid brown;
    padding: 5px;
    margin-bottom: 5px;
}

.form-text input {
    width: 100%;
    padding: 10px;
    text-align: right;
    border: none;
    outline: none;
    background: none;
    color: brown;
}

.form-text input::placeholder {
    color: rgb(204, 197, 197);
}

#btn-proximo {
    margin-top: 10px;
    padding: 10px 15px;
    float: right;
    border: none;
    outline: none;
    color: white;
    background-color: brown;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

#btn-proximo:hover {
    background-color:  rgb(92, 33, 33);
}